:root {
  --radius: 12px;

  --cardColor: #ffffff;
  --borderColor: #e6ecf8;
  --shadowColor: #e9f0f380;

  --styledBorder: var(--borderTemplate) var(--borderColor);
  --styledShadow: 0 5px 5px 0 var(var(--shadowColor));

  --textAlign: center;
}

img {
  max-width: 100%;
}

h1 {
  font-size: calc(var(--gutter) * 1.5);
}

p {
  padding: 0 var(--gutter);
}

.menu {
  display: flex;
  margin-bottom: var(--gutter);

  @media screen and (min-width: 700px) {
    width: 100%;
    justify-content: flex-end;
  }
}

.descAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

}

.desktop {
  margin: 0;
  margin-top: calc(var(--gutter) * 5);
  margin-bottom: calc(var(--gutter) * -0.3125);
  display: flex;
  justify-content: center;


  @media screen and (max-width:700px) {
    display: none;
    margin: 12rem;

  }
}

.description {
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--gutter) * 3.75);
}

.description p {
  width: 60%;
  text-align: var(--textAlign);
}

#changeButton {
  border-radius: 10px;
  border-color: white;
  font-size: medium;
  padding: 0.5rem;
}

.pink-bg {
  background-color: var(--lightWildColor);
}

.skills {
  margin-top: calc(var(--gutter) * -2);
  border-radius: var(--radius);
  padding: 0 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;

  }
}



.column {
  border-left: var(--styledBorder);
  border-right: var(--styledBorder);
  border-bottom: var(--styledBorder);
  background-color: var(--cardColor);
  padding: calc(var(--gutter) * 3.75) calc(var(--gutter)* 2.1875);
  border-radius: var(--radius);
  text-align: var(--textAlign);
  box-shadow: var(--styledShadow);
  flex: 0 0 60%;
  max-width: 800px;
}

.column:first-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.column:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.column ul {
  list-style: none;
  padding: 0;
}

.pink-text {
  color: var(--lightWildColor);
}

.projects a {
  color: var(--purple);
}

.disabled {
  opacity: 0.5;
}

.box {
  width: 25%;
  padding: calc(var(--gutter) * 2);
  border: var(--styledBorder);
  margin: calc(var(--gutter) * 1.25);
  border-radius: var(--radius);
  box-shadow: var(--styledShadow);
}

.list-projects {
  display: block;

  @media screen and (min-width: 700px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}

.list-projects .box {
  width: 100%;
  margin-bottom: 1rem;
  margin: 5px;

  @media screen and (min-width: 700px) {
    width: 23%;
    margin-bottom: 0;
  }
}

.purple-text {
  color: var(--purple);
}